# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# Bit code 
__pycache__
backend/*.pyc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.env
.venv
venv/

node_modules
.next
